html {
	position: relative;
}

.navbar {
	background-color: #333 !important; 
}

.jumbotron {
	background-image: url('../img/coding.jpg');
	background-size: cover;
	background-attachment: fixed;
	padding-top: 90px;
	color: #fff;
	overflow: hidden;
}

.jumbotron img {
	width: 200px;
	border: 7px solid #fff;
	box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.jumbotron h1, .jumbotron p {
	text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

hr {
	width: 190px;
	border-top: 3px solid #212529;
}

section {
	min-height: 600px;
}

.portfolio {
	background-color: #e9ecef; 
}

.about h2 {
	margin-top: 10px;
}

.portfolio h2 {
	margin-top: 10px;
}

/* .portfolio .img-thumbnail {
	opacity: 0;
	transform: translate(0, -40px);
	transition: 0.5s;
}

.portfolio .img-thumbnail.muncul {
	opacity: 1;
	transform: translate(0, 0);
} */

.contact h2 {
	margin-top: 10px;
}

.col-sm-4 {
	margin-bottom: 15px;
}

footer p {
	color: white;
}

footer {
	position: absolute;
	bottom: 0;
	height: 170px;
	width: 100%;
	background-color: #333 !important;
	padding-top: 35px;
}